.counter-bg{
    background-color: rgb(248, 167, 167);
   
}

.box{
    width:calc(25% -30px);
    border:1px dashed white;
    border-radius: 5px;
    padding: 20px;
}

.counter-icon{
    font-size: 48px;
    color:#e6e6e6;
}
.counter{
    font-size: 50px;
    color:#f2f2f2;
    font-weight: 500;
}
.text{
    font-size:20px ;
    color:#fff;
    font-weight: 400;
}
